*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  --primary-color: #ff6f00;
  --hover-primary: #ff3300;
  --disabled-primary: #ffa07a;
  --bg: #f1f1f1;
  --hover-bg: #f1f5f9;
  --disabled-bg: #f1f1f1;
  --text-primary: #1e293b;
  --text-secondary: #64748b;
}

html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f7f7f7;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
figure,
blockquote,
dl,
dd {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

img,
video {
  max-width: 100%;
  height: auto;
}

button {
  background-color: transparent;
  border: none;
  margin: 0;
  padding: 0;
  background: none;
  border: none;
  cursor: pointer;
}

app-root {
  display: block;
  width: 100%;
}
